<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Calculator Module</string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.quicksilver.TSCalculatorPlugin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Calculator Module</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.2</string>
	<key>CFBundleVersion</key>
	<string>200</string>
	<key>QSActions</key>
	<dict>
		<key>CalculatorCalculateFormulaAction</key>
		<dict>
			<key>actionClass</key>
			<string>CalculatorActionProvider</string>
			<key>actionSelector</key>
			<string>calculate:</string>
			<key>description</key>
			<string>Calculate this expression</string>
			<key>directTypes</key>
			<array>
				<string>QSFormulaType</string>
				<string>NSStringPboardType</string>
			</array>
			<key>displaysResult</key>
			<true/>
			<key>icon</key>
			<string>com.apple.calculator</string>
			<key>name</key>
			<string>Calculate</string>
			<key>precedence</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Kevin Ballard</string>
		<key>categories</key>
		<array>
			<string>Text Handling</string>
			<string>Utility</string>
		</array>
		<key>description</key>
		<string>Allows calculation of mathematical expressions with the Calculate action.</string>
		<key>extendedDescription</key>
		<string>
			&lt;h3&gt;Overview&lt;/h3&gt;
			&lt;p&gt;The calculator module allows you to calculate mathematical expressions entered into Quicksilver with the &apos;Calculate&apos; action.&lt;/p&gt;
			&lt;p&gt;To calculate expressions you can run the &apos;Calculate&apos; action on a text string, or put Quicksilver into &apos;Math&apos; mode by type &apos;=&apos;.
			
			&lt;h3&gt;Entering Expressions&lt;/h3&gt;
			
			Expressions are entered using the same syntax as Spotlight, for example:&lt;/p&gt;
			&lt;ul&gt;
				&lt;li&gt;=(sin(30))^2&lt;/li&gt;
				&lt;li&gt;=e^4 + sqrt(50)&lt;/li&gt;
				&lt;/ul&gt;
				
				&lt;h3&gt;Displaying Results&lt;/h3&gt;

&lt;p&gt;Results from the &apos;Calculate&apos; action can be displayed in one of 3 ways, and/or copied to the clipboard.&lt;/p&gt;

&lt;p&gt;Go to the &lt;a href=&quot;qs://preferences#QSSettingsPanePlaceholder&quot;&gt;Preferences pane&lt;/a&gt; and select Calculator from the sidebar for more information and options on displaying results.&lt;/p&gt;</string>
		<key>infoFile</key>
		<string>Info.rtf</string>
		<key>webIcon</key>
		<string>http://quicksilver.blacktree.com/images/appicons/Calculator.gif</string>
	</dict>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>CalculatorActionProvider</key>
			<string>CalculatorActionProvider</string>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>QSFormulaType</key>
			<string>CalculatorActionProvider</string>
		</dict>
		<key>QSPreferencePanes</key>
		<dict>
			<key>CalculatorPrefPane</key>
			<dict>
				<key>class</key>
				<string>CalculatorPrefPane</string>
				<key>description</key>
				<string>Calculator Options</string>
				<key>icon</key>
				<string>com.apple.calculator</string>
				<key>name</key>
				<string>Calculator</string>
				<key>nibBundle</key>
				<string>com.blacktree.quicksilver.TSCalculatorPlugin</string>
				<key>nibName</key>
				<string>CalculatorPrefPane</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
